
/* - Variables - */

:root {
	--primary-clr: hsl(60, 100%, 100%);
	--second-clr: hsl(18, 36%, 54%);
	--second-clr-alt: hsl(18, 36%, 60%);
	--gray-clr: hsl(18, 36%, 54%);
}

/* - Base - */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -- body content --*/
body {
	font-family: sans-serif;
	background-color: var(--primary-clr);
	color: var(--second-clr);
}

/* -- Main -- */
.main {
    margin-bottom: .2rem;
}
@media screen and (min-width: 768px){
	.main {
		margin-top: 2rem;
	}
}
@media screen and (min-width: 1024px){
	.main {
        margin: 5rem 0;
	}
}
.top-container {
	margin-left: .8rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
@media screen and (min-width: 768px){
	.top-container {
		flex-direction: row;
		justify-content: center;
	}
}
.title {
    color: var(--second-clr);
	font-size: 1.8rem;
    font-weight: 600;
	max-width: 15rem;
}
.app-function-container {
	margin-top: .5rem;
}
@media screen and (min-width: 1024px){
	.title {
		font-size: 2.5rem;
		max-width: 19rem;
        margin-top: 5rem;
	}
	.app-function-container {
		margin-right: 5rem;
	}
}
.app-function-container span {
	font-weight: 300;
	font-size: 1rem;
}
@media screen and (min-width: 768px){
	.app-function-container span {
        font-size: 1.2rem;
    }
}
.day-left-to-hide-desktop {
	margin-left: .8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@media screen and (min-width: 768px){
	.day-left-to-hide-desktop {
		display: none;
	}
}
.day-left-to-hide-desktop .day {
	font-size: 3.5rem;
}
.day-left-to-hide-desktop .day::after {
	content: "Days left";
	font-size: .9rem;
	font-weight: 300;
	padding-left: .3rem;
	color: var(--second-clr-alt);
}

.svg-img {
	width: 280px;
	height: auto;
}
@media screen and (min-width: 768px){
	.svg-img {
		width: 300px;
	}
}
@media screen and (min-width: 1024px){
	.svg-img {
		width: 400px;
	}
}

.counters-container {
	margin-left: .8rem;
	display: flex;
	align-items: center;
	margin-top: .8rem;
}
.counter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
}
@media screen and (min-width: 768px){
	.counters-container {
		justify-content: center;
		margin-top: 8rem;
	}
	.counter-container {
		margin-right: 6rem;
	}
	.counter-container:last-child {
		margin-right: 0;
	}
}
.number {
	font-size: 1.5rem;
}
@media screen and (min-width: 768px){
	.number {
		font-size: 1.9rem;
	}
}

.number-name {
	font-size: 1rem;
	font-weight: 300;
	margin-top: .5rem;
	letter-spacing: .01rem;
    color: var(--second-clr-alt);
}
@media screen and (min-width: 1024px){
	.number {
		font-size: 3rem;
	}
}
.hide-on-phone {
	display: none;
}

@media screen and (min-width: 768px){
	.hide-on-phone {
		display: flex;
	}
}
